.nav-mobile {
  background: var(--color-shadow-dark);
  width: max-content;
  display: flex;
  padding: 1.5rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0rem;
  border-radius: 16px 16px 0 0;
  gap: 0.8rem;
  backdrop-filter: blur(15px);
  list-style: none;
}

.nav-mobile-link {
  background: transparent;
  padding: 0.9rem 1rem 0.7rem 1rem;
  border-radius: 50%;
  font-size: 1.1rem;
}

@media screen and (max-width: 300px) {
  .nav-mobile {
    border-radius: 0;
    padding: 1rem 4rem;
  }
}
